* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Roboto", sans-serif;
  --clr-primary: #29221d;
  --clr-primar-light: #473b33;
  --clr-secondary: #282c36;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-pumpkin: #fe6c00;
  --clr-silver: #a8a5a6;
  --clr-silver-v1: #bdbabb;
  --clr-scarlet: #fe1e00;
  --clr-scarlet-v1: rgb(254, 30, 0, 0.79);
  --clr-green: #00fe93;
  --clr-yellow: #fec80a;
  --clr-jet: #302924;
  --clr-peach: #ffc397;
  --font-family-bai: "Bai Jamjuree", sans-serif;
  --transition-default: all 300ms ease-in-out;
}


body {
  margin: 0;

  font-family: var(--font-family-bai);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.img-fit-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}